
 @import "bootstrap-sprockets";
 @import "bootstrap";


body{
  margin: 0 auto;
}

 #container{
   width: 50%;
   margin: 0 auto;
   display: grid;
 }

.navbar img{
   margin-top: 20px;
}

li a:hover{
  color: #fff;
  border: 2px solid #b3ecff;
  background-color: #b3ecff;
}

.space{
  margin-bottom: 100px;
}

form{
  width: 50%;
}

.right{
  padding-right: 20px;
}

.profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
}
.main{
  display: flex;
  justify-content: space-between;
}
