
 @import "bootstrap-sprockets";
 @import "bootstrap";

// Main Styles
body{
  margin: 0 auto;
}

 #container{
   width: 50%;
   margin: 0 auto;
   display: grid;
 }

.navbar img{
   margin-top: 20px;
}

li a:hover{
  color: #fff;
  border: 2px solid #b3ecff;
  background-color: #b3ecff;
}

.space{
  margin-bottom: 100px;
}

.pad{
  margin-bottom: 30px;
}


form{
  width: 50%;
}

.right{
  padding-right: 20px;
}

.main{
  display: flex;
  justify-content: space-between;
}

// Timeline Styles

main-timeline-section{
    position: relative;
    width: 100%;
    margin:auto;
}
.profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #0093D1;
    transition: all .5s;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end {
    background: #0093D1;
    border-radius:100px;
    margin: 0 auto;
    width:30px;
    height:30px;
}
.main-timeline-section .conference-center-line {
    position: absolute;
    width: 4px;
    height:100%;
    top: 0;
    left:50%;
    margin-left: -2px;
    background:#0093D1;
    z-index: -1;
}
.timeline-article{
    width:100%;
    position:relative;
    margin:40px 0px;
    min-height: 135px;
    z-index: 0;
}
.timeline-article .content-date{
    position: absolute;
    top:33%;
    left:50%;
    font-size:18px;
    margin-left: -150px;
    transform: translateY(50%);
}
.timeline-article .meta-date {
    position: absolute;
    top:50%;
    left: 50%;
    width:20px;
    height:20px;
    transform: translateY(-50%);
    margin-left: -11px;
    border-radius: 100%;
    background:#fff;
    border:1px solid #0093D1;
}
.timeline-article .content-box{
    position:absolute;
    box-shadow: 2px 2px 4px 0px #c1c1c1;
    border:1px solid #0093D1;
    border-radius: 5px;
    background-color: #fff;
    width:40%;
    top:50%;
    transform: translateY(-50%);
    padding:8px;
    left:50%;
    margin-left:50px;
}
.content-left-container .content-box{
    left:5%;
    margin-left: 0px;
}
.content-left-container .content-date{
    margin-left: 50px;
}
.content-right-container .content-box:before{
    content: " ";
    position:absolute;
    left:-10px;
    top:40%;
    transform: translateX(-50%);
    border:10px solid transparent;
    border-right-color:#0093D1;
    display:block;
}
.content-left-container .content-box:before{
    content: " ";
    position:absolute;
    top:40%;
    right:-30px;
    transform: translateX(-50%);
    border:10px solid transparent;
    border-left-color:#0093D1;
}

@media (max-width:460px){
    .timeline-article.content-left-container .content-box{
        left: -10px;
    }
    .timeline-article .content-box p{
        height: 100px;
        overflow: hidden;
    }
}
