/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Main Styles
body {
  margin: 0 auto;
  max-width: 1980px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
  margin-bottom: 0;
}


#container {
  width: 50%;
  margin: 0 auto;
  display: grid;
}
.people{
  background: url(rece.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

// Header
.Heaven {
  font-family: cursive;
}
.navbar img {
  margin-top: 20px;
}

.navbar-brand {
  padding: 11px;
  margin-top: 7px;
  font-family: cursive;
  font-size: 40px;
  text-shadow: 2px 2px #effcff;
}

.brand2 {
  bottom: 10px;
}

li a:hover {
  color: #fff;
  border: 2px solid #b3ecff;
  background-color: #b3ecff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  padding-top: 24px;
  text-align: center;
}

// Forms
.EventBackgroundFull{
  background: url(background.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
#error_explanation{
  width: 100%;
}

.eventBackground{
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration-color: rgb(255, 255, 255);
  padding: 1px;
  margin:1 auto;
}
.container3 input{

}
.container-one {
  width: 350px;
  clear: both;

    float: none;
    text-align : center;
    margin-right: auto;
    margin-left: auto;
    position: auto;
}
.form-inputs{
  width: 180%;
  margin-bottom: 10px;
  margin: 2px 10px;
}
.space {
  margin-bottom: 100px;
}

.pad {
  margin-bottom: 30px;
}

form {
  width: 50%;
}

.right {
  padding-right: 20px;
}

.profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
}
.main {
  display: flex;
  justify-content: space-between;
}

.postcard {
  background-image: url(post.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  height: 100vh;
}
.post {
  display: inline-block;
  margin-top: 90px;
  position: relative;
}

.post a {
  color: yellow;
}

.post a:hover {
  font-size: 28px;
}
///////////////////////////////////////////////////////////////////////////////
//RECIPIENT Forms



.container2 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.class-h {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #337ab7;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #fff;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{

    }
    li {
      display: block;
    }
    .col2 {

      flex-basis: 100%;

    }
    .col2 {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

// Event Creator
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
}

// Timeline Styles
.Timeline{
  background: url(paper.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.plane{
  background: url(Heaven-set-plane.png)
}
main-timeline-section {
  position: relative;
  width: 100%;
  margin: auto;
}
.profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #0093d1;
  transition: all 0.5s;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end {
  background: #0093d1;
  border-radius: 100px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
.main-timeline-section .conference-center-line {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #0093d1;
  z-index: -1;
}
.timeline-article {
  width: 100%;
  position: relative;
  margin: 40px 0px;
  min-height: 135px;
  z-index: 0;
}
.timeline-article .content-date {
  position: absolute;
  top: 33%;
  left: 50%;
  font-size: 18px;
  margin-left: -150px;
  transform: translateY(50%);
}
.timeline-article .meta-date {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  margin-left: -11px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #0093d1;
}
.timeline-article .content-box {
  position: absolute;
  box-shadow: 2px 2px 4px 0px #c1c1c1;
  border: 1px solid #0093d1;
  border-radius: 5px;
  background-color: #fff;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  left: 50%;
  margin-left: 50px;
}
.content-left-container .content-box {
  left: 5%;
  margin-left: 0px;
}
.content-left-container .content-date {
  margin-left: 50px;
}
.content-right-container .content-box:before {
  content: " ";
  position: absolute;
  left: -10px;
  top: 40%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-right-color: #0093d1;
  display: block;
}
.content-left-container .content-box:before {
  content: " ";
  position: absolute;
  top: 40%;
  right: -30px;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-left-color: #0093d1;
}

//LANDING
.container {
  margin-top:  80px;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.frame {
  margin: auto;
  width: 520px;
  height: 400px;
  // border: 7px solid #fff;
  // background: rgb(226, 238, 198)
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
  font-weight: 700;
}

article#one{
  background-image: url(postcard2.png);
  background-position: center;
  background-size: cover;
  border: 2px solid #b3ecff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -100;
  padding-bottom: 48px;
}

article#one, .two h3, {
  margin-bottom: 48px;
}

.two {
  background-color: #fff;
}

a.sign {
  color: #fff;
  text-decoration: none;
}

.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  // background-color: #f8f8f8;
}
.three, .footer {
  margin-top: 48px;
}

.row-center {
  width: 70%;
  text-align: center;

}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tag {
  text-align: center;
  padding-top: 48px;
  width: 70%;
  margin: 0 auto;
}

.tag p {
    font-size: 36px;
    padding-bottom: 36px;
}

.button {
  background-color: #009999;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: auto;
}

.grey {
  color: #000;
}
//Hover Effects
.fas, .button, .profile-image{
  transition: all .2s ease-in-out;
}
.fas:hover, {
  transform: scale(1.1);
}

.button:hover{
  border: 2px solid #b3ecff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-image{
  transition: all .8s ease-in-out;
}

.profile-image:hover {
  transform: rotate(360deg)
}
///////////////////////////////////////////////////////////////////////////////
// Rotate image
.contain{
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  background-position: center;
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 380px;
  height: auto;
  color: #000;
  font-size: 2.5rem;
  font-weight: 700px
}

.back{
  background: #fff;
  background: linear-gradient(45deg,  #fff 0%, #fff 100%);
}

.front:after{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  backface-visibility: hidden;
}

.contain:hover .front,
.contain:hover .back{
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner{
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  background-color: #2C79BD;
}

.contain .back{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.contain .front{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.contain:hover .back{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.contain:hover .front{
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p{
  font-size: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.contain {
  margin-top:  80px;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.front {
  background-image: url(heaven-sent.png);
  width: 95%;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #fff;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}
////////////////////////////////////////////////////////////////////////
/*  Footer */
.footer {
  background-color: #33475b;
  padding: 20px;
}

.footer p {
  font-family: "Roboto Slab", serif;
  font-weight: 400px;
  color: #fff;
  text-align: center;
}

// MEDIA QUERY

@media (max-width: 460px) {
  .timeline-article.content-left-container .content-box {
    left: -10px;
  }
  .timeline-article .content-box p {
    height: 100px;
    overflow: hidden;
  }
}
